In [1]:
import pandas as pd
import numpy as np

In [4]:
#Upload the dataset in df
df=pd.read_csv('tweets.csv',nrows=500)

In [5]:
df

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source
0,Bohmle,"#GPT4 for FREE. \nNo its not a clickbait, @Qol...",Carkingga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AI enthusiast,2019-07-03 03:44:41+00:00,60.0,349.0,611.0,False,2023-05-17 18:11:12+00:00,"['GPT4', 'ChatGPT4']",Twitter Web App,NaN,NaN
2,Dan Bruno AI,ChatGPT Thinks These 5 Crypto Coins Will Explo...,"Manchester, NH","The latest in #ChatGPT, #BARD, #Bing, and othe...",2021-05-19 01:19:32+00:00,470.0,157.0,5185,False,2023-05-17 18:11:03+00:00,"['chatgpt', 'AI', 'openAI']",dlvr.it
3,Georgiana Comsa,New: @JWVance's post about 5 #startups (includ...,Palo Alto,"Founder of Silicon Valley PR, award-winning PR...",2008-12-24 09:32:23+00:00,3864.0,1883.0,2415,False,2023-05-17 18:10:25+00:00,"['startups', 'startup50']",Twitter Web App
4,Bitone Great,ðŸš¨Get Out!ðŸš¨\nðŸ’°#Binance SpotðŸ’°\nâ¬‡ Recommendation:...,Hong Kong,#ChatGPT (AI) powered Free Trading Signal! \nL...,2022-11-21 04:42:18+00:00,1517.0,506.0,64,False,2023-05-17 18:09:39+00:00,"['Binance', 'Short', 'GHSTUSDT']",rsi1
...,...,...,...,...,...,...,...,...,...,...,...,...
495,O'Dwyer's PR News,#ChatGPT set off an endless stream of fear and...,"New York, NY","The #1 news outlet for public relations, publi...",2009-02-25 15:50:27+00:00,15013.0,2876.0,1,False,2023-05-17 16:00:37+00:00,['ChatGPT'],Twitter Web App
496,"Tracy Krauss, #author #artist #playwright",ChatGPT is a hot topic; there is no doubt. It ...,"British Columbia, Canada",I write modern Christian romance with a twist ...,2010-06-19 04:45:43+00:00,2718.0,1803.0,348,False,2023-05-17 16:00:37+00:00,NaN,Hootsuite Inc.
497,Tom Solid,Exciting news! #chatGPT has launched its Plugi...,Germany,ðŸš€âœ¨ We help you to build your productivity syst...,2010-12-04 11:00:53+00:00,3460.0,332.0,4464,False,2023-05-17 16:00:30+00:00,['chatGPT'],Hootsuite Inc.
498,Tweeting Monk,@Oncrawl Agreed! The #ChatGPT is definitely th...,GET 30% OFF FOR 3 MONTHS,Set your Twitter account on auto-pilot and wat...,2022-03-30 10:35:13+00:00,50.0,111.0,64,False,2023-05-17 16:00:28+00:00,['ChatGPT'],TweetingMonk
499,ManTFupTV,Do you agree whatever is put on the internet d...,"Fort Lauderdale, FL",ManTFUp Podcast ðŸŽ™\nListen to Season 2 NOW! ðŸ”¥\n...,2021-11-09 15:26:21+00:00,343.0,12.0,27,False,2023-05-17 16:00:26+00:00,NaN,Buffer

# Q.1: EDA

In [8]:
#Finding total null values in the df
df.isnull().sum().sum()

276

In [11]:
columnNames=df.columns
columnNames

Index(['user_name', 'text', 'user_location', 'user_description',
       'user_created', 'user_followers', 'user_friends', 'user_favourites',
       'user_verified', 'date', 'hashtags', 'source'],
      dtype='object')

In [13]:
for colName in columnNames:
    nullValues=df[colName].isnull().sum()
    print(colName+' : ',nullValues)

user_name :  1
text :  0
user_location :  98
user_description :  27
user_created :  1
user_followers :  1
user_friends :  1
user_favourites :  1
user_verified :  1
date :  1
hashtags :  142
source :  2

In [15]:
df['hashtags']

0                                   NaN
1                                   NaN
2           ['chatgpt', 'AI', 'openAI']
3             ['startups', 'startup50']
4      ['Binance', 'Short', 'GHSTUSDT']
                     ...
495                         ['ChatGPT']
496                                 NaN
497                         ['chatGPT']
498                         ['ChatGPT']
499                                 NaN
Name: hashtags, Length: 500, dtype: object

In [17]:
df.corr(numeric_only=True)

                user_followers
user_followers             1.0

# Q.2: Pre-processing & Cleaning